/* You can add global styles to this file, and also import other style files */
@import url("//use.fontawesome.com/releases/v5.6.1/css/all.css");

ul, li {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}
