.edit {
    i {
        cursor: pointer;
    }
}

.task-list-table {
    td {
        padding: 5px 10px 5px 0;
    }
}

button {
    margin-right: 5px;
}

.delete i {
    cursor: pointer;
}

.strikethrough {
    text-decoration: line-through;
}